---
import DLink from '../components/DLink.astro'
import CircleInOut from '../components/Transitions/CircleInOut.astro'
import Layout from '../layouts/Layout.astro'
import { gsapStore } from '../store/store.ts'
---

<script>
  // Init GSAP and Context
  import { Init } from '../store/utils'
  const [gsap, timeline, setTimeLine, pageTimeline, setPageTimeLine] = Init()

  // Selectors
  const container = document.querySelector('.container')
  let q = gsap.utils.selector(container)

  // Entry Animations
  function Entry() {
    gsap.from(q('*'), {
      opacity: 0,
      x: 100,
      duration: 1,
      ease: 'custom2',
    })
  }
  // Exit Animations
  function Exit() {
    timeline.pause()
    timeline.add(
      gsap.to(q('*'), {
        opacity: 0,
        x: 100,
        duration: 1,
        ease: 'custom2',
      }),
    )
    setTimeLine(timeline)
  }
  Entry()
  Exit()
</script>
<CircleInOut>
<Layout title='Welcome.'>
    <main>
      <div class='container'>
        <h1>Matheus Lasserre2</h1>
        <p>FullStack Developer for over 5 years.</p>
        <DLink href='/page' label='Pages' />
      </div>
    </main>
  </Layout>
</CircleInOut>

<style lang='scss'>
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
  }
</style>
