---
interface Props {
  label: string
  href: string
  className?: string
}

const { href, label, className } = Astro.props
---

<script>
import { localTimeline, pageTimelineStore } from "../store/store"
  const pageTimeline = pageTimelineStore.get()
	const timeLine = localTimeline.get()
  function AnimateAndGo(href: string) {
    timeLine.play().then(() => {
	  timeLine.pause().clear()
    })
    pageTimeline.play().then(() => {
      window.location.href = href
      pageTimeline.pause().clear()
    })
  }
  const l = document.getElementsByTagName('a')
  for (let i = 0; i < l.length; i++) {
	l[i].addEventListener('click', (e) => {
    e.preventDefault()
    AnimateAndGo(l[i].dataset.href!)
	})
	if(l[i].dataset.class !== undefined) {
		l[i].classList.add(l[i].dataset.class!)
	}
	
  }
</script>
<a class="dlink" href={href} data-href={href} data-class={className} data-astro-prefetch data-dlink="dlink">
 {label}
</a>
<style lang="scss">
  .dlink {
    background: rgba(23, 0, 137, 0.397);
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.479);
    width: 90%;
    max-width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    transition: background 0.2s ease;
    &:hover {
      background: rgb(23, 0, 137);
    }
  }
</style>
